


body{

  margin:0;
  padding:0;
 
}
.App{
  align-items: center;
}

.Todos{
margin:auto;
align-content: center;

}
.TextInput{
  margin-left:20%;
 width:60%;
 
  position:relative;
  margin-right:20%
}
.TextInput input[type='text']{
  width:100%;
  height:50px;

 
}

.Todo-list{

margin:auto;
align-items: center;
padding:0;
}
